certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.0.3
gevent==1.4.0
gevent-socketio==0.3.6
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pyee==6.0.0
requests==2.22.0
six==1.12.0
slackeventsapi==2.1.0
urllib3==1.25.3
Werkzeug==0.15.4
