{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list dir %}
{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}

<div class="container">
    <style>
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  header {
  display: flex;
  align-items: center;
}
}
.cards {
  max-width: 1200px;
  #margin: 0 0 250px 20px;
  margin-right: 250px;
}

.cards>.divContent {
    align-items: center;
    text-align: center;
}

@media (min-width: 700px) {
 .leading {
    display: flex;
    align-items: center;
  }
}

    </style>
    <div class="cards">
    {% for object in cl.result_list %}
        <div class="divContent">
            <div class="divContent">{{object.author}}</div>
            <div class="divContent"><b>{{object.title}}</b></div>
            <div class="divContent"><input type="checkbox" name="_selected_action" value="{{object.pk}}" /></div>
            <a href="/admin/ebooklibrary/bookmodel/{{object.pk}}"> <img src="/{{ object.cover }}" ></a>
            <div class="divContent">ISBN: {{object.isbn}}</div>
        </div>
    {% endfor %}
    </div>


          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}
{% block pagination %}{% endblock %}